#scripts
scripts


#server
server/node_modules
server/package-lock.json
server/.env
server/src/db 
server/src/middleware
server/src/utils
server/src/controllers/functions
server/src/controllers/config
server/src/hedera
server/src/migrations
server/app.js

#client
client/logs
client/supabase
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*
client/node_modules
client/package-lock.json
client/dist
client/dist-ssr
client/*.local
client/.vscode/*
client/!.vscode/extensions.json
client/.idea
client/.DS_Store
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln
client/*.sw?
client/.env
client/supabase
client/src/types
client/src/vite-env.d.ts
client/src/integrations
client/src/api
client/src/hedera
client/src/config
client/src/context
client/src/pages/Admin.tsx
client/src/pages/CreateFinanciation.tsx
client/src/pages/CreateParty.tsx
client/src/pages/FinanceParty.tsx
client/src/pages/KycEvent.tsx
client/src/pages/Login.tsx
client/src/pages/Recuperar.tsx
client/src/pages/Register.tsx
client/src/pages/Stake.tsx
client/src/pages/PartyAdminPanel.tsx
client/src/components/admin
client/src/components/partyPanel
client/src/components/ConnectWalletButton.tsx
client/src/components/DonationModal.tsx

